#container-fluid {
    /* color: #064663; */
    color: #45526C;
    font-family: Nunito;
    padding: 1%;
    padding-bottom: 0.5%;
}

/* Common Elements */

section {
    border-radius: 7px;
    margin: 1% 1%;
    padding-top: 2%;
    padding-bottom: 2%;
}

section:hover {
    transform: scale(1.03);
}

h2 {
    /* color: #064663; */
    font-family: IBM Plex Mono;
    font-size: 3rem;
    font-weight: bold;
    padding-top: 10px;
    text-align: center;
}

h3 {
    /* color: #064663; */
    font-family: Nunito;
    font-size: 2rem;
    font-weight: bold;
}

p {
    /* color: #064663; */
    font-family: Nunito;
    line-height: 2.2;
}

a {
    margin: 10px 20px;
    text-decoration: none;
}

hr {
    border: 2px solid grey;
    height: 5px;
    margin: 0 auto;
    width: 10%;
}



/* Navbar */

.navbar {
    background-color: #ECB390;
    font-family: IBM Plex Mono;
    font-size: 0.9rem;
    font-weight: 500;
    padding-left: 0.5%;
}

.nav-link {
    margin-left: 1%;
    padding-left: 0;
}

.nav-button {
    font-weight: bold;
}

.navbar a {
    color: #191919;
}

/* Introduction */
.intro {
    background: linear-gradient(53deg, #F8F5F1, #F8A488);
    border-color: black;
    margin-top: 10px;
    padding: 3% 3% 7%;
    text-align: center;
}

.intro:hover {
    transform: none;
}

.intro h1 {
    color: #45526C;
    font-family: Work Sans;
    font-size: 5rem;

    animation-name: fade-in;
    animation-duration: 0.75s;
    animation-timing-function: linear;
    /* Sacramento, Pacifico */
}

@keyframes fade-in {
    0% {
        opacity: 0;
        font-size: 1rem;
    }

    25% {
        opacity: 0.25;
        font-size: 2rem;
    }

    50% {
        opacity: 0.5;
        font-size: 3rem;
    }

    75% {
        opacity: 0.75;
        font-size: 4rem;
    }

    100% {
        opacity: 1;
        font-size: 5rem;
    }
}

.intro h2 {
    /* color: #2D4263; */
    color: #45526C;
    font-size: 1.3rem;
    font-weight: 400;
    margin-top: 1.5%;
}

.intro div {
    float: right;
    text-align: right;
    width: 10%;
}


/* Profile */
#profile {
    /* background: linear-gradient(45deg, #ECDBBA, #C84B31); */
    padding: 5% 10%;
    text-align: left;
}

.profile-photo {
    text-align: center;
    margin: auto;
}

.profile-text {
    font-family: IBM Plex Mono;
    font-weight: 400;
    text-align: justify;
}

.profile h2 {
    font-weight: bold;
    text-align: center;
}

/* Skills */

#skills {
    /* background-color: #ECB390; */
    background-color: #5F939A;
    padding: 5% 10%;
    text-align: center;
}

#skills h2 {
    color: #F8F5F1;
    margin-bottom: 30px;
}

#skills h3 {
    font-size: 1.3rem;
}

#skills p {
    color: #F8F5F1;
}

.card-header {
    background-color: #F7F7F7;
}


.skill-list {
    font-family: Nunito;
    line-height: 2;
    text-align: left;
}


/* Portfolio and work */

#portfolio h2 {
    text-align: center;
}

.project-row {
    background-color: #fff;
    color: #303841;
    font-family: Nunito;
    /* font-size: 1.4rem; */
}

.project-row a {
    color: #222831;
    font-weight: 700;
    margin-left: auto;
}

#estimate-column {
    padding: 1%;
    /* padding-left: 7%; */
}

#estimate-column:hover {
    border-color: #00909E;
}

.estimate-image {
    box-shadow: 15px 15px teal;
    text-align: center;
    margin: auto;
}

.estimate-image:hover {
    box-shadow: 15px 15px lightgray;
}

.languages {
    border-collapse: collapse;
    border-spacing: 2rem;
    font-family: IBM Plex Mono;
    font-weight: 500;
    width: auto !important;
}

/* Contact */

#contact {
    /* background-color: #DF7861; */
    background-color: #F8A488;
    margin-top: 70px;
    text-align: center;
}

.contact-me h2 {
    font-family: Nunito;
}

.contact-me p {
    text-align: center;
    padding: 0 30%;
}

.email {
    font-family: IBM Plex Mono;
    margin-bottom: 1.5%;
}

/* Media */

.footer {
    padding-top: 3%;
    padding-bottom: 0;
    margin-bottom: 0;
    text-align: center;
}

.social-icon {
    color: grey;
}

.social-icon:hover {
    color: #DF7861;
}

.copyright-text {
    font-size: 0.9rem;
}

@media(max-width: 400) {
    .profile-text h2 {
        text-align: center;
    }

    /* .estimate-image {
        width: 100%;
    } */
}